.modal__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  width: calc(70% + 2.4rem);
  border-radius: 0.8rem;
}
.modal__title {
  background: #450053;
  padding: 1rem 1.2rem;
  border-radius: 0.8rem 0.8rem 0 0;
}
.modal__title h2 {
  margin-block: 0;
  font-size: 2rem;
}
.modal__body {
  background-color: white;
  color: black;
  padding: 3.2rem 1.2rem;
}
.modal__body p {
  margin-block: 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.modal__footer {
  background: white;
  text-align: right;
  padding: 2.5rem 1rem;
  border-radius: 0 0 0.8rem 0.8rem;
}
